.service_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
}
.service{
    background:var(--color-bg-variant) ;
   
    border: 1px solid transparent;

    height: fit-content;
    transition: var(--transition);
}
.service:hover{
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}
.service_head{
    background: var(--color-primary);
    padding: 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
}
@media screen and (max-width :1024px) {
   .service_container{
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
   }
       
     }
     @media screen  and (max-width:600px) {
       .service_container{
        grid-template-columns: 1fr 1fr;
        height: auto;
       }
         }