.portifilio_container{
    padding: 10px 10px 10px 10px;
}
h5{
    font-size: larger;
    color: blue;
}
.project{
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
   
    gap: 5rem;
}
.project img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}